body{
    background-image: url("fats.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 54rem;
    opacity: 80%;
}
.card{
    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
}
img{
    height: 10rem;
    width: 15rem;
}